.noprint
  %h3 Comments
  %p.highlight
    This is an independent website.  
    %a{ :href => "http://www.rbwm.gov.uk/" }<
      Windsor and Maidenhead Council
    might not see your comments here or reply to them.