.grid_12
  %h2= @page_title = "Council Spending Data Scoreboard"
  
  %p Data on which councils are publishing their spending data and how they're doing it:
  %ul
    %li
      %a{ :href => "https://spreadsheets.google.com/ccc?key=0AhOqra7su40fdEgtaG4yVFZGVjdYREVIWmprX2dENkE&hl=en_GB#gid=3" }<
        Local council spending data scoreboard by OpenlyLocal.com
    %li
      %a{ :href => "http://www.guardian.co.uk/news/datablog/2010/sep/10/local-council-spending-over-500-list" }<
        Council spending data from The Guardian Datablog      