.grid_12
  %ul#breadcrumb
    %li.home
      %a{ :href => '/'} Home
    %li
      Services
 
  %h2= @page_title = "Services"
  
  - for service in @services
    %p
      %a{ :href=> "/services/#{service.slug}" }
        = service.name
