.grid_12
  
  %ul#breadcrumb
    %li.home
      %a{ :href => '/'} Home
    %li
      Suppliers

  %h2= @page_title = "Suppliers"

  - for supplier in @suppliers
    %p
      %a{ :href=> "/suppliers/#{supplier.slug}" }
        = supplier.name
