body
{
  background-color: #fff;
  color: #555;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 1.5em;  
}

p
{
  font-size: 110%;
}

input
{
  font-size: 130%;
  background-color: #fff;
}



#main
{
  margin: 30px 0;
}

#footer
{
  font-size: 100%;
  background-color: #fff;
  text-align: left;
  margin: 40px 0 40px 0;
}

.top_border
{
  border-top: 1px solid #eee;
}

a
{
  background-color: #dce9b0;
  padding: 1px 4px;
  color: #111;
  text-decoration: none;
}

a:visited
{
  background-color: #eee;
  padding: 1px 4px;
  color: #111;
  text-decoration: none;
}

a:hover
{
  background-color: #4f4f4f;
  color:  #fff;
}

h1
{
  margin: 0px 0 0 0;
  line-height: 1.4em;
  font-weight: bold;
  color: #86a11d;
  font-size: 170%;
}

h1.logo
{
  margin: 20px 0 0 0;
  line-height: 1.4em;
  font-weight: bold;
  color: #86a11d;
  font-size: 230%;
}

h2
{
  margin-top: 20px;
  line-height: 1.5em;
  font-weight: bold;
  color: #86a11d;
}

form
{
  font-size: 150%;
}



.highlight
{
  background-color: #fff7c0;
  padding: 5px;
}

strong
{
  color: #000;
}

.strong
{
  color: #000;
  font-weight: bold;
}

table
{
  border-collapse: collapse;
  margin-bottom: 50px;
}

td, th
{
  padding: 6px;
}

th
{
  text-align: left;
}

tr
{
  border-bottom: 1px solid #eee;
}

.right
{
  text-align: right;
}


.noborder
{
  border: 0;
}

.download a, .download a:visited
{
  margin: 15px 0;
  padding: 7px;
  background-color: red;
  color: white;
}

.download a:hover
{
  background-color: #eee;
  color: red;
}

.callout
{

  background-color: #eee;
  padding: 0px;
  font-size: 120%;
  line-height: 1.5em;
}

.spinner
{
  display: none;
}

.filter li
{
  display: inline;
}

.filter a, .filter a:visited
{
  margin: 0 0px 0 0;
  padding: 5px 10px;
}

.filter a:hover
{

}

a.filter_selected
{
  widows: 0;
  background-color: black;
  color: #fff;
  font-size: 100%;
}

#nav
{
  background-color: #777;
  margin: 0 0 20px 0;
  padding: 2px 10px;
}

#nav a, #nav a:visited
{
  background-color: #777;
  color: #fff;
}

#nav a:hover
{
  background-color: #fff;
  color: #777;
}

#breadcrumb
{
  display: none;
}

.hidden
{
  display: none;
}

.home_subheads
{
  margin: 0;
  padding: 0;
  background-color: #fff;
  vertical-align: bottom;
}